<div id="intro">
  <div class="planets planet1"></div>
  <div class="planets planet2"></div>
  <div class="planets planet3"></div>

  <div id="intro-filter">
    <div id="intro-info">
      <img src="assets/img/logo.png" alt="LiteDoge logo"/>
      <h1>LiteDoge</h1>
      <p>LiteDoge ($LDOGE) is a lite version of Dogecoin</p>
    </div>
  </div>
</div>

<div id="features" class="area">
  <h2>Very Features</h2>

  <div class="feature-list-area">
    <div class="feature-item">
      <div class="feature-info">
        <h3>Proof-of-Stake</h3>
        <p>So long as you HODL in a full wallet, you can get some litedoge coins. Such easy moon!</p>
      </div>
    </div>
    <div class="feature-item">
      <div class="feature-info">
        <h3>SCrypt Based</h3>
        <p>Based. Based on what? SCrypt is used for transactions! Pretty based!</p>
      </div>
    </div>
  </div>
</div>

<div id="wallets" class="area">
  <h2>Many Wallets</h2>

  <div class="client-compare-area">
    <div class="compare-item">
      <mat-card class="client-compare-card">
        <mat-card-header>
          <mat-card-title>Light-Weight Wallet</mat-card-title>
          <mat-card-subtitle>Start using immediately</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>A lightweight wallet for you to send and receive transactions. Local staking is not supported.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button href="https://play.google.com/store/apps/details?id=org.litedogeofficial.app"
             target="_blank" color="primary">Android
            Mobile Wallet</a>
          <button mat-raised-button color="accent">iOS Mobile Wallet</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="compare-item">
      <mat-card class="client-compare-card">
        <mat-card-header>
          <mat-card-title>Full Wallet</mat-card-title>
          <mat-card-subtitle>Requires full chain synchronization</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>A full wallet for you to send, receive transactions and stake locally.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button href="https://github.com/vashshawn/LDOGE" color="primary">QT C++ Wallet</a>
          <a mat-raised-button href="https://github.com/ldoge/litedoge-js" color="accent">JavaScript Wallet</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div id="trade" class="space-area">
  <h2>Buy High, Sell Low</h2>
  <p>Not financial advice. LiteDoge is available on these many markets!</p>

  <div class="trading-area">
    <div class="trading-item">
      <mat-card class="trading-card">
        <img mat-card-image src="assets/img/altmarkets-logo.png" alt="Altmarkets Logo">
        <mat-card-actions>
          <a mat-raised-button href="https://v2.altmarkets.io/trading/ldogedoge" target="_blank">View
            Trading Pair</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>

<div id="community" class="area">
  <h2>Such Community</h2>
  <p>Wow many friendly shibes. Come join us and have such fun!</p>
</div>
