@import '~src/mixins';
@import '~src/variables';

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes counter-spin {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}

@-webkit-keyframes counter-spin {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes counter-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


#intro {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background-color: $space-color;

  .planets {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    position: fixed;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .planet1 {
    background-image: url("~src/assets/img/saturn.svg");
    background-size: 20%;
    background-position: 60vw top;
    -webkit-animation: spin 5s infinite linear;

    @include query(tablet) {
      background-size: 40%;
      background-position: 60vw top;
    }

    @include query(mobile) {
      background-size: 45%;
      background-position: 60vw top;
    }
  }

  .planet2 {
    background-image: url("~src/assets/img/dots.svg");
    background-size: 10%;
    background-position: 10vw bottom;
    -webkit-animation: counter-spin 0.7s infinite linear;

    @include query(tablet) {
      background-size: 20%;
      background-position: 15vw bottom;
    }

    @include query(mobile) {
      background-size: 25%;
      background-position: 15vw bottom;
    }
  }

  .planet3 {
    background-image: url("~src/assets/img/dots-2.svg");
    background-size: 15%;
    background-position: 80vw center;
    -webkit-animation: spin 4s infinite linear;

    @include query(tablet) {
      background-size: 30%;
      background-position: 65vw center;
    }

    @include query(mobile) {
      background-size: 35%;
      background-position: 60vw center;
    }
  }

  #intro-filter {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100vh;
    min-height: 500px;
    margin: 0;
    padding: 0;
    color: #FFF;

    #intro-info {
      z-index: 10;
      position: relative;
      padding-top: 20vh;
      text-align: center;

      img {
        max-width: 100%;
        min-height: 200px;
        max-height: 60vh;
        margin: 0 auto;

        @include query(tablet) {
          max-width: 95%;
        }

        @include query(mobile) {
          max-width: 90%;
        }
      }
    }

    h1 {
      font-size: 120px;
      line-height: 8rem;
      @include query(tablet) {
        font-size: 80px;
        line-height: 7rem;
      }

      @include query(mobile) {
        font-size: 60px;
        line-height: 6rem;
      }
    }
  }
}

h2 {
  text-align: center;
  font-size: 40px;
  line-height: 6rem;
}

.area,
.space-area {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 50vh;
  position: relative;
}

.area {
  z-index: 10;
  background-color: #FFFFFF;
}

.space-area {
  color: #FFFFFF;
  background-color: $space-color;
}

#features {
  .feature-list-area {
    display: flex;
    flex-direction: row;

    @include query(tablet) {
      flex-direction: column;
    }

    .feature-item {
      flex: 1 1 50%;
    }

    .feature-info {
      padding: 10px;
      width: 75%;
      margin: 0 auto;
      text-align: center;

      @include query(mobile) {
        width: 90%;
      }
    }
  }
}

#wallets {
  .client-compare-area {
    display: flex;
    flex-direction: row;

    @include query(tablet) {
      flex-direction: column;
    }

    .compare-item {
      flex: 1 1 50%;
      margin: 20px 0;
    }
  }

  .client-compare-card {
    width: 50%;
    margin: 0 auto;

    @include query(tablet) {
      width: 75%;
    }

    @include query(mobile) {
      width: 90%;
    }
  }
}

#trade {
  text-align: center;

  .trading-area {
    z-index: 10;
    display: flex;
    flex-direction: row;

    @include query(tablet) {
      flex-direction: column;
    }

    .trading-item {
      flex: 1 1 50%;
    }
  }

  .trading-card {
    background-color: rgba(0, 0, 0, 0.40);
    z-index: 10;
    width: 50%;
    margin: 0 auto;

    transition-duration: 86ms;
    transition-property: box-shadow, transform, -webkit-transform;
    will-change: box-shadow, transform;

    @include query(tablet) {
      width: 75%;
    }

    @include query(mobile) {
      width: 90%;
    }
  }

  .trading-card:hover {
    box-shadow: 0 3rem 3rem -1.25rem rgba(10, 10, 10, .1);
    -webkit-transform: translateY(-.5rem);
    transform: translateY(-.5rem);
  }
}

#community {
  text-align: center;

  .icon {
    padding: 10px;
    width: 96px;
  }

  .explorer {
    color: $star-color;
  }

  .discord {
    fill: #7289da;
  }

  .twitter {
    fill: #1DA1F2;
  }

  .reddit {
    fill: #FF4500;
  }

  #community-area {
    display: flex;
    flex-direction: row;

    @include query(tablet) {
      flex-direction: column;
    }

    .community-item {
      flex: 1 1 20%;
      margin: 20px 0;
    }
  }
}
