<div class="client-compare-area">
  <div class="compare-item">
    <mat-card class="client-compare-card">
      <mat-card-header>
        <mat-card-title>Light-Weight Wallet</mat-card-title>
        <mat-card-subtitle>Start using immediately</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>A lightweight wallet for you to send and receive transactions. Local staking is not supported.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Android Mobile Wallet</button>
        <button mat-button>iOS Mobile Wallet</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="compare-item">
    <mat-card class="client-compare-card">
      <mat-card-header>
        <mat-card-title>Full Wallet</mat-card-title>
        <mat-card-subtitle>Requires full chain synchronization</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>A full wallet for you to send, receive transactions and stake locally.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>QT C++ Wallet</button>
        <button mat-button>JavaScript Wallet</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
