/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

@font-face {
  font-family: 'Comic Sans';
  src: url('~src/assets/fonts/LDFComicSans.ttf') format('truetype');
}

$font: 400 24px/32px 'Comic Sans', "Helvetica Neue", sans-serif;
$font-family: 'Comic Sans', "Helvetica Neue", sans-serif !important;

body {
  margin: 0;
  font: $font;
  background-image: url("~src/assets/img/space.jpeg");
  background-size: contain;
  background-repeat: repeat;

}

.mat-typography,
.mat-typography .mat-typography,
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography p,
.mat-card,
.mat-button,
.mat-list-item-content,
.mat-toolbar,
.mat-raised-button {
  font-family: $font-family;
}

div.inner-area {
    max-width: 1080px;
    margin: 0 auto;
    align-items: baseline;
    z-index: 999;
    position: relative;

    h2, h3, p, div {
      color:#fff
    }

    .light-bg {
      color:#333;
     h2, h3, p, div {
      color:#333
    }
}
}

#copyright-bar {
background: #fff;
border-top: 1px solid #eee;
  .inner-area {
     display: flex;
     justify-content: space-between; 
     align-items: baseline;

    ul.foot-menu {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    
    li {
         padding: 0 10px;

        a {
            color: #333;
            text-decoration: none;
        &:hover {
            text-decoration:underline
        }    
           
           }         
        }
    }
  }
}


@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes counter-spin {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}

@-webkit-keyframes counter-spin {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes counter-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes scale {
  0%   {transform: scale(1);}
  100% {transform: scale(1.5);}
}

@media only screen and (max-width: 768px) {
  
.logo {
    height: 50% !important;
    bottom: auto !important;
    top: 20px !important;
}
}