/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

@font-face {
  font-family: 'Comic Sans';
  src: url('~src/assets/fonts/LDFComicSans.ttf') format('truetype');
}

$font: 400 24px/32px 'Comic Sans', "Helvetica Neue", sans-serif;
$font-family: 'Comic Sans', "Helvetica Neue", sans-serif !important;

body {
  margin: 0;
  font: $font;
}

.mat-typography,
.mat-typography .mat-typography,
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography p,
.mat-card,
.mat-button {
  font-family: $font-family;
}
